body {
     background: #CCCCCC;
}
.principal{
     background: #b8b6b6;
     padding: 10px;
}
p {
     text-align: center;
}
em strong {
     color: #FF0000;
}
h1 {
     text-align: center;
}
p {
     font-size: 20px;
}
#missão {
     font-size: 30px
}
#banner {
     width: 100%;
     height: 50%;
}
.itens {
     font-style: italic;
     font-size: 30px;
}
.beneficios {
     background: #ccbaba;
     padding: 20px;
}
h2 {
     text-align: center;
}
ul {
     display: inline-block;
     vertical-align: top;
     width: 20%;
     margin-rigth: 15%;
}
.imagembeneficios {
     width: 70%;
     height: 70%;
}
.titulo-principal {
     padding-left:20px;
}
.título-centralizado {
     text-align: center 
}


