p {
text-align: center;
}

body {
     background: #CCCCCC
}

.principal{
     background: #b8b6b6;
     padding: 30px;
}

em strong {
color: #FF0000;
}

.itens {
   font-style: italic;
}

.beneficio {
     background:  #FFFFFF;
     padding: 30px;
}

h2 {
text-align: center;
}
ul {
     display: inline-block;
     vertical-alingn: top;
     width: 20%;
     

p {
    font-size: 20px;
}    

#missao {
     font-size: 30px
}

#banner {
     width: 100%;
}
